$('form')[0].reset();
$('#stocks').html('<%=j render(:partial => 'stocks') %>');
<% if flash[:error] -%>
  <p class='error'><%=h flash[:error] %></p>
<% end -%>
$('#balance').html('<%= @auth.balance %>');